NODE_ENV=development
PORT=3000
SECRET=uma_chave_secreta_e_segura_aqui
SESSION_DURATION_HOURS=8

# Desenvolvimento
DB_DIALECT=sqlite
DB_STORAGE=src/database/development.sqlite

# Producao
# DB_DIALECT=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=vendamais
# DB_USER=root
# DB_PASSWORD=rootpassword
